* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DFECE6; 
}

header {
    background-color: #2D2D29; 
    color: #92C7A3;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
  
}
nav ul li a:hover{
  transform: scale(1);
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    color: #92C7A3; 
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #215A6D;
}

section p {
    color: #3CA2A2;
}

footer {
    background-color: #2D2D29; 
    color: #92C7A3; 
    padding: 20px;
    text-align: center;
    clear: both; 
}

img {
    float: right; 
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 300px;
    padding: 20px;
}

.section-with-image {
    display: flex;
    flex-direction: row; /* Establece la dirección de flexión horizontal */
}

.section-with-image .content {
    flex: 1;
}


@media screen and (max-width: 768px) {
    .section-with-image {
        display: block;
    }
    img{
       height: 150px;
       padding: 10px;
    }
 
    main {
        padding: 10px; /* pilaasss*/
    }

    section img {
        margin-top: 0; /* Eliminar el margen superior en dispositivos más pequeños */
    }
}
