body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3ca2a2;
    color: #DFECE6;
}

header {
    background-color: #215A6D;
    padding: 20px;
    align-items: center;
}


.Encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.T {
    margin: 0;
    font-size: 32px;
}

.Barra {
    margin-top: 10px;
}

.opcion {
    color: #DFECE6;
    text-decoration: none;
    margin-right: 20px;
}

.opcion:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #DFECE6;
}

.content1 {
    background-color: #215A6D;
    color: #DFECE6;
    height: auto;
}

a {
    text-decoration: none;
    color: #DFECE6;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0.25);
    width: 100%; 
}

.slider img {
    flex: 1 0 auto;
    scroll-snap-align: start;
    width: 100%; 
    height: auto;
 
}

.slider a {
    flex: 0 0 100%;
    scroll-snap-align: start;
}


.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #3ca2a2;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
.container1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

.image-box {
    position: relative;
    max-width: 300px;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
.image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 98, 114, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
}
.overlay a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.image-box:hover .image {
    transform: scale(1.5); 
}

.image-box:hover .overlay {
    background-color: rgba(30, 143, 196, 0.39); 
    opacity: 1;
}
