body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #215A6D; 
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #3CA2A2; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #2D2D29; 
    color: #FFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #92C7A3;
}

a {
    color: #DFECE6; 
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
