*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}

a{
    color: #000;
    position: relative;
    position: relative;
}
.volver{
    margin: 2px 80px;
    width: 40px;
    height: auto;
    position: absolute;
    right: 900px;
    
}
.quinceañeras{
    background-color: #3CA2A2;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  
    align-items: center;
    justify-content: center;
    background-color:#DFECE6; 
}
.grid{  
    display: grid;
    margin: 20px;
   grid-template-columns: auto auto auto;
   column-gap: 50px;                        
   row-gap: 35px; 
   margin: 5% 15%;

}
.container{
    
    justify-content: space-evenly;
    position: relative;
    width: 300px;
    height: 350px ;
    border-radius: 10px;
}
 .conteiner,.destino{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    overflow:hidden;
    transition: .5s;
 

}
.container,.front {
    transform: perspective(600) rotateY(0deg);
   box-shadow: 0 5px 10px #000;
}

img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color:#DFECE6;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  text-align: center; 
}  

.container .back  {
    transform: perspective(600px) rotateY(180deg);
    font-family: Arial, Helvetica, sans-serif;
background-color: #3ea6a67c;
    padding: 15px;
    color: #2D2D29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    text-align: center;
    box-shadow: 0 5px 10px #000;
   
}

.container .back .link{
    border-top: solid 2px rgb(0, 0, 0);
    height: 50px;
    line-height: 50px;
    font-size: 20px;
} 
.container .back h3{
    
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.container .back p{
    letter-spacing: 1px;
}
.container:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.container:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
@media (max-width: 1600px) {
    
    .grid {
        grid-template-columns: auto auto auto;
    }
    .container{
        justify-content: space-evenly;
        width: 170px;
        height: 300px ;
        border-radius: 10px;
    }
       .conteiner, .destino {
        width: 200px;
        height: 300px;
        backface-visibility: hidden;
        transition: 0.5s;
    }
    .container .back h3{
    
        font-size: 20px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .container .back p{
    
        font-size: 10px;
        margin-top: 10px;
        letter-spacing: 2px;
    }
    .volver{
        margin: 10px -2px;
         width: 30px;
         height: auto;
         position: absolute;
         right: 600px;
         
     }
     .container,.front {
    
       box-shadow:none;
    }
}

@media(max-width: 767px) {
    .quinceañeras{
     
        font-size: 20px;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }
    .conteiner, .destino {
        width: 295px;
        height: 300px;
        backface-visibility: hidden;
        transition: 0.5s;
    }
  
    .container .back .link{
        border-top: solid 2px rgb(0, 0, 0);
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    } 
    .container,.front {
     
       box-shadow:none;
    }
    .volver{
       margin: 5px 0px;
        width: 20px;
        height: auto;
        position: absolute;
        right: 330px;
        
    }
}


